:root {
  --cogno-blue-dark: #212c60;
  --cogno-blue-lite: #7981be;
  --cogno-yellow: #efb325;
  --cogno-white: #FFFFFF;
  --cogno-dark: #000000;
}

.preview-body {
  width: 100vw;
  height: 100vh;
  
}

.preview-pelicula {
  background-color: #0000008e;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-preselect {
  background-color: var(--cogno-white);
  min-width: 250px;
  width: 600px;
  height: 350px;
  border-radius: 8px;
  margin: 0 12px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.title-preselect {
  max-width: 320px;
  font-size: 24px;
  margin-bottom: 12px;
}

.select-preselect {
  width: 300px;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.button-select {
  width: 300px;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--cogno-dark);
  color: var(--cogno-white);
  border: none;
}

.logo-preselect {
  width: 200px;
  margin-bottom: 8px;
}